NODE_ENV=production
PORT=10000

BACKEND_URL=https://e-commers-backend.onrender.com
FRONTEND_URL=https://e-comers-frontend.onrender.com
CORS_ALLOW_RENDER_PREVIEWS=true

MONGO_URI=mongodb://user:pass@host1:27017,host2:27017/dbname?ssl=true&authSource=admin
JWT_SECRET=long_random_secret
JWT_EXPIRE=7d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_AVATAR_FOLDER=bazaarhub/avatars
